@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.footer {
  text-align: center;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  right: 15px;
}

h4 {
  text-align: center;
}

ul {
  text-align: center;
  display: inline;
  list-style-position: inside;
  list-style: none
}

.container {
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}

body {
  background-image: url('https://media.git.generalassemb.ly/user/28180/files/abe4a080-cab5-11ea-917f-d1695715328e');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: '100vh';
  background-size: cover;
  font-family: 'Red Rose', cursive;
}

// .lists {
//   border: 5px solid #000000;
//   border-radius: 10px;
//   padding: 10px;
//   margin: auto;
//   border-style: groove;
//   background-color: #ffffff;
// }

// .items {
//   border: 5px solid #000000;
//   border-radius: 10px;
//   padding: 10px;
//   margin: auto;
//   border-style: groove;
//   background-color: #ffffff;
// }

.list-style {
  border: 5px solid #000000;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  border-style: groove;
  background-color: #ffffff;
  max-width: calc(100vh - 30vh);
}

.center {
  text-align: center;
}

.list-display {
  display: inline-block;
  text-align: left;
}

.list-row {
  display: inline;
}

.button {
  variant: light;
}

img {
  height: 50px;
  width: 60px;
}

.checkbox {
  width: 30px;
  height: 30px;
  margin: 10px 15px;
}

li {
  list-style: none
}
